body {
  font-family: 'Chivo Mono', monospace;
}

div {
  font-family: 'Chivo Mono', monospace;
}

.heading {
  font-size: 35px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

span {
  float: right;
}