body {
  font-family: 'Chivo Mono', monospace;
}

.heading {
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bold;
}

.totalTime {
  font-size: 15px;
  font-style: italic;
  color: #A9A9A9;
}

.totalTimeText {
  font-size: 15px;
  font-style: italic;
  color: #A9A9A9;
  float: left;
}

a {
  color: blue;
  text-decoration: none;
  margin-right: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

span {
  float: right;
}

canvas {
  display: block;
  margin: 0 auto;
  width:100%; 
  height:100%; 
  max-width: 500px; 
  max-height: 500px;
  margin-bottom: 0px;
}

.button-23 {
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  float: right;
  font-family: 'Chivo Mono', monospace;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  margin-bottom: 5px;
  border: none;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  transform: scale(.96);
}

.button-23:disabled {
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}